.g1896 { background: url('1896.jpg'); }
.g1900 { background: url('1900.jpg'); }
.g1904 { background: url('1904.jpg'); }
.g1906 { background: url('1906.jpg'); }
.g1908 { background: url('1908.jpg'); }
.g1912 { background: url('1912.jpg'); }
.g1920 { background: url('1920.jpg'); }
.g1924 { background: url('1924.png'); }
.g1928 { background: url('1928.png'); }
.g1932 { background: url('1932.png'); }
.g1936 { background: url('1936.jpg'); }
.g1948 { background: url('1948.png'); }
.g1952 { background: url('1952.png'); }
.g1956 { background: url('1956.png'); }
.g1960 { background: url('1960.png'); }
.g1964 { background: url('1964.svg'); }
.g1968 { background: url('1968.svg'); }
.g1972 { background: url('1972.svg'); }
.g1976 { background: url('1976.svg'); }
.g1980 { background: url('1980.png'); }
.g1984 { background: url('1984.svg'); }
.g1988 { background: url('1988.svg'); }
.g1992 { background: url('1992.svg'); }
.g1996 { background: url('1996.svg'); }
.g2000 { background: url('2000.svg'); }
.g2004 { background: url('2004.svg'); }
.g2008 { background: url('2008.svg'); }