.archery { background: url('archery.svg'); }
.art_contests { background: url('art_contests.png'); }
.athletics { background: url('athletics.svg'); }
.badminton { background: url('badminton.svg'); }
.baseball { background: url('baseball.svg'); }
.basketball { background: url('basketball.svg'); }
.boxing { background: url('boxing.svg'); }
.canoeing { background: url('canoeing.svg'); }
.cricket { background: url('cricket.svg'); }
.croquet { background: url('croquet.svg'); }
.cycling { background: url('cycling.svg'); }
.diving { background: url('diving.svg'); }
.equestrian { background: url('equestrian.svg'); }
.fencing { background: url('fencing.svg'); }
.field_hockey { background: url('field_hockey.svg'); }
.figure_skating { background: url('figure_skating.svg'); }
.football { background: url('football.svg'); }
.golf { background: url('golf.svg'); }
.gymnastics { background: url('gymnastics.svg'); }
.handball { background: url('handball.svg'); }
.jeu_de_paume { background: url('jeu_de_paume.svg'); }
.judo { background: url('judo.svg'); }
.modern_pentathlon { background: url('modern_pentathlon.svg'); }
.motor_boating { background: url('motor_boating.svg'); }
.pelota_basque { background: url('pelota_basque.svg'); }
.polo { background: url('polo.svg'); }
.rackets { background: url('rackets.svg'); }
.rowing { background: url('rowing.svg'); }
.sailing { background: url('sailing.svg'); }
.shooting { background: url('shooting.svg'); }
.soccer { background: url('soccer.svg'); }
.softball { background: url('softball.svg'); }
.swimming { background: url('swimming.svg'); }
.synchronised_swimming { background: url('synchronised_swimming.svg'); }
.table_tennis { background: url('table_tennis.svg'); }
.taekwondo { background: url('taekwondo.svg'); }
.tennis { background: url('tennis.svg'); }
.track_and_field { background: url('track_and_field.svg'); }
.triathlon { background: url('triathlon.svg'); }
.tug_of_war { background: url('tug_of_war.svg'); }
.volleyball { background: url('volleyball.svg'); }
.water_polo { background: url('water_polo.svg'); }
.weightlifting { background: url('weightlifting.svg'); }
.wrestling { background: url('wrestling.svg'); }
